/* Add products_________________________________________________________________*/
.add-products {
    display: flex;
    justify-content: space-around;
    padding: 0 1.5rem;
    font-size: var(--font-size-text);
    gap: 1rem;
}

.price {
    position: relative;
    display: inline-block;
}

.price::after {
    content: '$';
    position: absolute;
    top: 25%;
    left: 5px;
    font-size: var(--font-size-text);
    color: var(--black);
}
*/ .field__input:focus {
    font-size: var(--font-size-text);
}

.add-products__send {
    position: relative;
}
.icon-add-cart {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--icon-size);
    color: var(--green);
    z-index: -1;
}
.submit {
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: transparent;
    cursor: pointer;
}
