:root {
    /*Colors*/
    --bg-color: #000427;
    --cyan: #94f8ff;
    --red: #ff0000;
    --green: #17ce17;

        /*Neutral*/
        --white: #fff;
        --black: #000;

    /*Font*/
    --font-size-header: 2rem;
    --font-size-title: 1.5rem;
    --font-size-text: 1rem;
    
    --icon-size:2.5rem;
}
/*GENERAL STYLES*/
* {
    box-sizing: border-box;
}


body {
    /*Settings*/
    margin: 0;
    padding: 0;
    font-family: 'Kufam', 'Mukta Malar', sans-serif;

    /*styles*/
    background-color: var(--bg-color);
    color: var(--white);
}

/* Header______________________________________________________________________________________*/



.header {
    margin: 1rem 10rem;
    display: flex;
    justify-content:flex-end;
    
}

.header__title {
    background-color: var(--white); 
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    box-shadow: 10px 10px  var(--cyan);
    font-size: var(--font-size-header);
    overflow: hidden;
    width: 25rem;
    padding: 0.25em 0.5em 0.5em;
    border-radius: 10px;;
   
}
.title-main{
    display: inline-block;
    font-family: 'Major Mono Display', monospace;
    position: relative;

}
.title-main::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0rem;
    width: 100%;
    height:100%;
    
    animation: headerWriter 4s steps(13) forwards, colorReplace 5s forwards;  
}
.title-main::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height:3.2rem;
    animation: writer .4s 10 forwards, headerWriter 4s steps(13) forwards;
 
}


@keyframes colorReplace {
    0%{
        background-color: white;
    }
    99%{
        background-color: white;
    }
    100%{
        background-color:transparent;
    }
}
@keyframes headerWriter {
    from{
        left:0rem;
    }
    to{
        left:100%;
    }
}

@keyframes writer {
    from{
        
        background-color: black;
    }
    to{
        background-color: white;
    }
}



.icon-cart {
    font-size: 3rem;
    transform: rotate(-40deg) translate(-5px, 5px);
}

/*Main___________________________________________________________*/
.main{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.title{
    font-size:var(--font-size-title);
}

/* Add products_________________________________________________________________*/
.add-products{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 0 1.5rem;
    font-size: var(--font-size-text);
}
.field__input,.submit{
    appearance: none;
    box-shadow: none;
    border: none;
    outline: none;
}
.field__input{
    
    border-radius: 5px;
    height:30px;

    font-size:var(--font-size-text);
    text-align: center;
    color:var(--black);
    transition: border-bottom .2s ease-in-out;
}

.field__input:focus{
    font-size:var(--font-size-text);
}



.add-products__send{
    position: relative;
    
}
.icon-add-cart{
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--icon-size);
    color:var(--green);
    z-index:-1;
}
.submit{
    width:var(--icon-size);
    height:var(--icon-size);
    background-color: transparent;
    cursor: pointer;

}

/*Added products*/
.added-products{
    padding: 0 4rem ;
}

.table{
    width:70vw;
    background-color: var(--white);
    color:var(--black);
    border-radius: 30px;
}

.table__header,.table__row-product{
    display: grid;
    grid-template-columns:repeat(3,1fr) 100px;
    justify-items: center;
}

.table__row-product{
    border-bottom: 1px groove rgb(185, 185, 185);
    align-items: center;
}

.table__row-product:last-child{
    border-bottom: none;
}
.icon-delete{
    color: var(--red);
    font-size:var(--icon-size);
    border: none;
    cursor: pointer;
}